.question {
    font-family: 'Karla';
    font-size: 16px;
}

.answer-options-container {
    color: #293264;
    display: flex;
    gap: 13px;
}

.answer-option {
    margin: 0px;
}

.notHeld {
    border: 1px solid #4D5B9E;
}

.isHeld {
    background-color: #D6DBF5;
    border: 1px solid #D6DBF5;
}

.correct-answer {
    background-color: #94D7A2;
    border: 1px solid #94D7A2;
}

.wrong-answer {
    background-color: #F8BCBC;
    border: 1px solid #F8BCBC;
    opacity: 0.5;
}

.not-selected {
    border: 1px solid #4D5B9E;
    opacity: 0.5;
}

.error-message {
    margin-top: 20px;
    /* border: 1px solid #8b0000; */
    border-radius: 5px;
    font-family: 'Inter';
    font-size: 10px;
    padding: 4px 9px 4px 9px;
    background-color: #f9d9d9;
    text-align: center;
    width: 25%;
    color: #8b0000;
}