.user-label {
    font-family: Inter;
    margin-bottom: 60px;
    margin-top: 0x;
    font-size: 23px;
    text-align: center;
}

.question-container {
    margin-top: 18px;
}

.question>hr {
    margin-top: 15px;
    border-top: 1px solid #DBDEF0;
    border-bottom: none;
    border-right: none;
    border-left: none;
}