.question-container {
    margin-top: 18px;
}

.question-container>hr {
    margin-top: 15px;
    border-top: 1px solid #DBDEF0;
    border-bottom: none;
    border-right: none;
    border-left: none;
}