.start-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
}

.header {
    margin: 0px;
    font-family: 'Karla';
    color: #293264;
}

.form-label {
    display: block;
    font-family: 'Karla';
    font-size: 14px;
    margin-top: 50px;
}

.form-input {
    display:block;
    border: 1px solid 	#E0E0E0;
    border-radius: 10px;
    padding: 7px 16px;
    font-family: 'Karla';
    margin: auto;
    width: 160px;
}

.start-button {
    margin-top: 29px;
    background: #4D5B9E;
    border-radius: 15px;
    border: none;
    width: 190px;
    height: 52px;
    cursor: pointer;

    font-family: 'Inter';
    font-size: 16px;
    text-align: center;
    color: #F5F7FB;
}