.start-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
}

.header {
    margin: 0px;
    font-family: 'Karla';
    color: #293264;
}

.description { 
    margin: 7px, 0px, 0px, 0px;
    font-family: 'Inter';
    color: #293264;
}

.start-button {
    margin-top: 29px;
    background: #4D5B9E;
    border-radius: 15px;
    border: none;
    width: 193px;
    height: 52px;
    cursor: pointer;

    font-family: 'Inter';
    font-size: 16px;
    text-align: center;
    color: #F5F7FB;
}